.wrapper {
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 150px;
  gap: 30px;
}

.intro {
  background-image: url("../../assets/00033.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.vidddeo {
  height: 60%;
  width: 80%;
}


.introText {
  align-items: center;
  margin-top: 700px;
  font-size: 66px;
}

.section {
  width: 70%;
  max-width: 1300px;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.about {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.video iframe {
  width: 100% !important;
  min-width: none;
  width: 50%;
  margin-top: 50px;
  height: auto;
  aspect-ratio: 16/9;
}

.aboutTex {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.video {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


/* @media (min-width: 390px) {
  .intro {
    font-size: 15px;
    text-align: center;
    margin-top: -50px;
    height: 30vh;
  }

  .section {
    padding: 12px;
    gap: 20px;
  }

  .about {
    gap: 20px;
  }

  .section h2 {
    font-size: 28px;
  }

  .section p,
  .section li {
    font-size: 18px;
  }

  .contacts {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .feedback {
    font-size: 10px;
    margin-top: 25px;
  }
}
  */

.footer {
  background-color: rgb(150, 150, 150);
  justify-content: space-between;
  color: #ffffff;
  width: 100%;
  display: flex;
  gap: 80px;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 40px;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  gap: 10px;
}

.footerCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}


.footerGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
